<h2>Edit Cake</h2>

<form action="/cakes/<%= @cake.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit The Cake Name:</label>
    <br>
    <input type="text" name="cake[name]" id="cake_name" value="<%= @cake.name %>">

    <br>
    


    <h3>Existing bakers</h3>
    <% @users.each do |user| %>
      <input type="radio" name="cake[giver_id]" id="<%= user.id %>" value="<%= user.id %>"><%= user.name %></input><br>
    <% end %>
    <br>

    


    <h3>Existing Bday People</h3>
    <% @users.each do |user| %>
      <input type="radio" name="cake[receiver_id]" id="<%= user.id %>" value="<%= user.id %>"><%= user.name %></input><br>
    <% end %>
    <br>

    <br><br>

    
    <br>
    <input type="text" name="cake[recipe]" id="cake_recipe">

    <br>
    


    <label>Hours: </label>
    <br>
    <input type="integer" name="cake[cook_time]" id="new_cook_time"></input>
    <br><br>

    <input type="submit" value="Edit Cake">
  </form> 

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
