<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h2>Edit Cake</h2>

<form action="/cakes/<%= @cake.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit The Cake Name:</label>
    <br>
    <input type="text" name="cake[name]" id="cake_name" value="<%= @cake.name %>">

    <br>

    <label>Recipe: </label>
    <br>
    <input type="text" name="cake[recipe]" id="cake_recipe" value="<%= @cake.recipe %>">

    <br>

    <label>Hours: </label>
    <br>
    <input type="integer" name="cake[cook_time]" id="new_cook_time" value="<%= @cake.cook_time %>"></input>
    <br><br>

    <input type="submit" value="Edit Cake">
  </form> 


  <a class="button" href="/users/<%=@user.id%>">Home</a>
</body>
  </html>
