<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Birthday Bonanza</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
</head>
<body>
<h2>All Your Cakes</h2>
<% unless @cakes_by_me == []%>
<% @cakes_by_me.each do |cake|%>
    <h4>Cake Name:</h4>
   <%= cake.name%>
    <br>
    <h4>Cake Cook Time (Hours):</h4>
    <%= cake.cook_time%>
    <br>
    <h4>Cake Recipe</h4>
    <%= cake.recipe%>
    <br>
    <a class="button" href="/cakes/<%=cake.id%>">View</a>
    <form onsubmit="confirm('Are you sure you want to delete the following cake?')" action="/cakes/<%= cake.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
<% end%>

<% end%>



<a class="button" href="/users/<%=@user.id%>">Home</a>
<a class="button" href="/logout">Log out</a>
<a class="button" href="/cakes/new">New Cake</a>
</body>
  </html>