<h2>Create New Cake</h2>

<form action="/cakes" method="POST">
    <label>Cake Name:</label>
    <br>
    <input type="text" name="cake[name]" id="cake_name">

    <br>

    <h3>Party Invitee Baking The Cake</h3>
    <% @users.each do |user| %>
    <input type="radio" name="cake[giver_id]" id="giver_<%= user.id %>" value="<%= user.id %>"><%= user.name %></input><br>
    <% end %>
    <br>
   

    <h3>Birthday Person The Cake Is For</h3>
    <% @users.each do |user| %>
    <input type="radio" name="cake[receiver_id]" id="user<%= user.id %>" value="<%= user.id %>"><%= user.name %></input><br>
    <% end %>
    <br>

    <h3>Write The Procedure With Quantities</h3>
    <label>Recipe: </label>
    <br>
    <input type="text" name="cake[recipe]" id="new_recipe"></input>
    <br><br>


    <h3>Add Cook Time</h3>
    <label>Hours: </label>
    <br>
    <input type="integer" name="cake[cook_time]" id="new_cook_time"></input>
    <br><br>

    <input type="submit" value="Create New Cake">
</form>
 